<!DOCTYPE html>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jiashengc-theme-ni.css" rel="stylesheet" type="text/css">
    <script src="/js/vue.min.js" type="text/javascript"></script>
</head>

<body>
    <nav class="ni-navigation">
        <img src="/images/logo.png" class="ni-logo">
        <h2 class="ni-title">Jia Sheng Chong</h2>
        <span>Home</span>
        <span>About</span>
        <span>Blog</span>
        <span>Work</span>
        <span>Resume</span>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="ni-container-ichi">
                
            </div>

        </div>
    </div>
</body>

</html>

