<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="images/logo.png">

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/hover-min.css" rel="stylesheet" type="text/css">
    <link href="/css/jiashengc-theme-ni.css" rel="stylesheet" type="text/css">
    <!--<script src="/js/vue.min.js" type="text/javascript"></script>-->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <nav class="ni-navigation">
                <img src="/images/logo-thin.png" class="ni-logo">
                <!--<h2 class="ni-title">JS</h2>-->
                <span>
                    <a href="/" class="hvr-underline-from-center">Home</a>
                </span>
                <span>
                    <a href="/about" class="hvr-underline-from-center">About</a>
                </span>
                <span>
                    <a href="https://blog.jiashengc.com" class="hvr-underline-from-center">Blog</a>
                </span>
                <span>
                    <a href="/JiaShengChongResume.pdf" class="hvr-underline-from-center">Resume</a>
                </span>
            </nav>

            <div class="ni-container-ichi">
                <div class="ni-splash">
                    <h1>Jia Sheng Chong</h1>
                    <p>Full Stack Web Developer | Visual Novel Developer</p>
                </div>
            </div>

            <div class="ni-container-ni">
                <div class="ni-work">
                    <h2>Work</h2>
                    <div class="ni-work-portfolio">

                        <div class="row">

                            <a href="https://github.com/jiashengc/Dating-Languages">
                                <div class="ni-work-item">
                                    <div class="ni-work-item-image">
                                        <img src="/images/dating-languages.png">
                                    </div>
                                    <div class="ni-work-item-desc">
                                        <p class="ni-work-item-title">◇ Dating Languages</p>
                                        <p class="ni-work-item-content">Visual Novel where you date programming languages.</p>
                                    </div>
                                </div>
                            </a>


                            <div class="ni-work-item">
                                <div class="ni-work-item-image">
                                    <img src="/images/dating-languages.png">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="ni-work-item">
                                <div class="ni-work-item-image">
                                    <img src="/images/dating-languages.png">
                                </div>
                            </div>


                            <div class="ni-work-item">
                                <div class="ni-work-item-image">
                                    <img src="/images/dating-languages.png">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ni-margin">

    </div>

    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.ni-navigation').addClass('ni-shrink');
            } else {
                $('.ni-navigation').removeClass('ni-shrink');
            }
        });
    </script>
</body>

</html>

