<!DOCTYPE html>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jiashengc-theme-ni.css" rel="stylesheet" type="text/css">
    <script src="/js/vue.min.js" type="text/javascript"></script>
</head>

<body>
    <nav class="ni-navigation">
        <span>Home</span>
        <span>About</span>
        <span>Blog</span>
        <span>Work</span>
        <span>Resume</span>
    </nav>

    <div class="container-fluid">



    </div>
</body>

</html>

