@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

@font-face {
    font-family: "Ostrich";
    src: url("/fonts/OstrichSansRounded-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

html {
    overflow-x: hidden;
}

body {
    color: #6997e1;
    font-family: "Ostrich", sans-serif;
    letter-spacing: 2px;
    background-color: #f7fcfe;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}

.ni-margin {
    margin-bottom: 1000px;
}

.ni-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    transition: all .4s;
}

.ni-navigation .ni-logo {
    margin-right: 7px;
    margin-left: 20px;
    max-height: 60px;
    transition: all .4s;
}

.ni-navigation .ni-title {
    margin-top: 4px;
    margin-right: 20px;
    font-size: 50px;
}

.ni-navigation span:nth-of-type(1) {
    margin-left: 35px;
}

.ni-navigation span {
    font-size: 25px;
    margin-top: 13px;
    margin-right: 20px;
    transition: all .4s;
}

.ni-shrink {
    padding-top: 2px;
    padding-bottom: 2px;
}

.ni-shrink .ni-logo {
    max-height: 55px;
}

.ni-shrink span {
    margin-top: 10px;
}

.ni-container-ichi {
    display: table;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/fish.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

.ni-splash {
    color: #f7fcfe;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ni-splash h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 100px;
    margin: 0;
    margin-bottom: 10px;
}

.ni-splash p {
    margin: 0;
    margin-top: -5px;
    margin-left: 125px;
}

/**
    REPLACE HOVER.CSS
 */
.hvr-underline-from-center {
    transition: all .1s;
}

.hvr-underline-from-center:before {
    background: #6997e1;
    height: 2px;
    border-radius: 2px;
}
